<a href="https://colab.research.google.com/github/katya-stanzy/python_work/blob/main/dfe001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Series and Propagation
# series can be generated, transformed or converted with some logic = propagation

blah = [10,20,30,40,50]
#
# result = [11, 21, 31, 41, 51]
blah2 = []
for element in blah:
    newresult = element +1
    blah2.append(newresult)

print(blah2)

[11, 21, 31, 41, 51]

In [4]:
a = [1,2,3,4,5]
result = [] # calculating square
for b in a:
  newresult = b*b
  result.append(newresult)
print(result)

[1, 4, 9, 16, 25]

In [6]:
a = [1,2,3,4,5]
result1 = [element+1 for element in a] # LIST COMPREHENSION ALLOWS US TO GENERARTE SERIES OR CREATE TRANSFORMATIONS
result2 = [element*element for element in a]
print(result1)
print(result2)

[2, 3, 4, 5, 6]
[1, 4, 9, 16, 25]

In [10]:
mydata = [10,20,30,40,50]
# result = [5, 10, 15, 20, 25]
result3=[int(element/2) for element in mydata]
print(result3)

[5, 10, 15, 20, 25]

In [11]:
# split sentence and loop over words
mydata = 'Doctor who went up the hill to fetch a pale of water'
for word in mydata.split(" "):
  print(word)

Doctor
who
went
up
the
hill
to
fetch
a
pale
of
water

In [14]:
# creates a list of strings
mydata = 'Doctor who went up the hill to fetch a pale of water'
bag =[]
for word in mydata.split(" "):
  bag.append(word)
print(bag)
print(bag[-2])

['Doctor', 'who', 'went', 'up', 'the', 'hill', 'to', 'fetch', 'a', 'pale', 'of', 'water']
of

In [18]:
mydata = 'Doctor who went up the hill to fetch a pale of water'
bag =[]
# loop in every word of sentence
for word in mydata.split(" "):
    # calculate the length of every word
    lngth = len(word)
    # if length even, append to result
    if (lngth % 2 == 0):
      bag.append(word)
print(bag)

['Doctor', 'went', 'up', 'hill', 'to', 'pale', 'of']

In [20]:
# the same but using list comprehension
mydata = 'Doctor who went up the hill to fetch a pale of water'
# syntax = [expression(iterator) for iterator in data]
result=[word if len(word)%2==0 else None for word in mydata.split(" ")]
print(result)

['Doctor', None, 'went', 'up', None, 'hill', 'to', None, None, 'pale', 'of', None]

In [ ]:
restult =[word for word in mydata.split(" ") if len(word)%2==0]
#by mentioning word - return as is, do not change
print(result)

In [31]:
mydata = ["$30", "€40", "$30", "€30", "$50"]
# 1. loop over all elements
# 2. if element contains $ symbol
# 3. extract numberr  from the value
# 4. multiply this number by exchange rate
# 5. add euros to the dataset
exch = 0.88
def dollar_to_euro(n):
  return n*exch

result = ['€'+str(dollar_to_euro(int(element[1:]))) if(element[0]=='$') else element for element in mydata]
print(result)

['€26.4', '€40', '€26.4', '€30', '€44.0']